@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --textColor: #b8c6dc;
    --bgColor: #293447;
}

.nunito-font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#e3f2fd;
}
.wrapper{
    width:65vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--bgColor);
    border-radius: 5px;
}
.game-details{
    color: var(--textColor);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display:flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height:100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background: #212837;
    

}

.play-board .food{
    background-color: #ff003d;
}

.play-board .head{
    background-color: #60cbff;
}
